#
# Copyright (c) 2018 Nordic Semiconductor
#
# SPDX-License-Identifier: LicenseRef-BSD-5-Clause-Nordic
#

menu "LTE UART DFU library"

# TODO: Consider whether depends on or select should be used here?
config LTE_UART_DFU
	bool "LTE UART DFU library"
	depends on DFU_TARGET
	depends on DFU_TARGET_MCUBOOT
	# TODO: Consider if these are needed?
	depends on SERIAL
	depends on UART_INTERRUPT_DRIVEN

if LTE_UART_DFU

choice
	prompt "UART for LTE UART DFU"
	default LTE_UART_DFU_UART_1
	depends on LTE_UART_DFU
	help
		Sets the UART to use for the LTE UART DFU
		-  UART 0
		-  UART 1
	config LTE_UART_DFU_UART_0
		bool "UART 0"
		# TODO: Consider whether depends on or select should be used here?
		depends on UART_0_NRF_UARTE
		depends on UART_0_NRF_FLOW_CONTROL 
	config LTE_UART_DFU_UART_1
		bool "UART 1"
		# TODO: Consider whether depends on or select should be used here?
		depends on UART_1_NRF_UARTE
		depends on UART_1_NRF_FLOW_CONTROL
endchoice

# TODO: Consider if choice should be used here
config LTE_UART_DFU_UART_LABEL
	string
	default "UART_0" if LTE_UART_DFU_UART_0
	default "UART_1" if LTE_UART_DFU_UART_1

endif # LTE_UART_DFU

endmenu
